a {
    cursor: pointer;
}

.game-view-container .game-close,
.game-view-container .game-fullscreen {
    color: #fff
}

.game-view-container .game-close:hover,
.game-view-container .game-close:active,
.game-view-container .game-fullscreen:hover,
.game-view-container .game-fullscreen:active {
    color: #ef14c8
}

.game-view-container .btn.favourite {
    color: #fff
}

.game-view-container .btn.favourite:hover,
.game-view-container .btn.favourite.selected {
    color: #ef14c8
}

.game-window {
    position: relative;
}

.game-window-header {
    position: absolute;
    top: 10px;
    right: 10px;
}

.game-view-container {
    position: relative;
    z-index: 1;
    margin: 0 auto
}

.game-view-container iframe {
    width: 100%;
    height: 100%;
}

.game-view-container.fullscreen {
    max-width: none;
    margin: 0
}

.game-view-container.fullscreen .game-container {
    padding: 5px 0 0
}

.game-view-container.fullscreen .game-container .game-container-inner {
    height: 100%;
    width: 100%;
    overflow: hidden
}

.game-view-container.fullscreen .game-head-section {
    border-radius: 0
}

.game-view-container.with-background .game-container,
.game-view-container.with-background .game-head-section {
    background: #fff3;
    -webkit-backdrop-filter: saturate(3);
    backdrop-filter: saturate(3)
}

.game-view-container .game-container {
    background: #2f2768;
    padding: 5px;
    margin: 0 auto
}

.game-view-container .game-search .search-container {
    margin-top: 0;
    display: inline-block
}

.game-view-container .game-search .search-container .input-group {
    height: auto
}

.game-view-container .game-search .search-container .input-group input.form-control,
.game-view-container .game-search .search-container .input-group input.form-control:active,
.game-view-container .game-search .search-container .input-group input.form-control:focus,
.game-view-container .game-search .search-container .input-group .form-control {
    height: 1.8rem;
    font-size: .9rem
}

.game-view-container .game-search .search-container .input-group .input-group-append {
    height: 100%
}

.game-view-container .search-button-container {
    display: inline-block
}

.game-view-container .search-button-container a {
    padding: 0;
    margin-bottom: -3px;
    cursor: pointer
}

.game-view-container .search-button-container a:focus {
    border: 0 !important;
    outline: none !important
}

.game-view-container .search-button-container i {
    padding-top: 2px;
    font-size: 130%
}

.game-view-container .search-container.in-game {
    display: inline-block;
    margin: 0
}

.game-view-container .game-button {
    height: 25px;
    overflow: hidden;
    padding: 0 10px;
    cursor: pointer;
    margin-top: 5px;
    border-left: 1px solid rgba(255, 255, 255, .1);
    border-right: 1px solid rgba(0, 0, 0, .2)
}

.game-view-container .game-button:last-child {
    border-right: none
}

.game-view-container .game-button:first-child {
    border-left: none
}

.game-view-container .game-button a,
.game-view-container .game-button svg {
    opacity: .5;
    color: #fff
}

.game-view-container .game-button:hover a,
.game-view-container .game-button:hover svg {
    opacity: 1
}

.game-view-container .game-head-section {
    background: #2f2768;
    border-radius: 4px 4px 0 0;
    text-align: right;
    padding: 3px 0 0;
    height: 36px
}

.game-view-container .game-search-result {
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 2
}

.game-view-container .search-button-inactive i {
    color: #fff;
    font-size: 120%
}

.game-view-container .favourite {
    margin: 0;
    padding: 5px 0;
    outline: none;
    color: var(--input-icon)
}

.game-view-container .favourite:focus {
    outline: none
}

.game-view-container .favourite:hover i,
.game-view-container .favourite.selected i {
    color: var(--input-icon-highlight)
}

.game-view-container .favourite-container {
    display: inline-block
}

.game-view-container .favourite-container a {
    padding: 0;
    margin-bottom: -3px;
    cursor: pointer
}

.game-view-container .favourite-container a:focus {
    border: 0 !important;
    outline: none !important
}

.game-view-container .favourite-container i {
    font-size: 150%;
    padding-top: 1px
}

.game-view-container .play-mode-switch {
    display: inline-block;
    color: #fff;
    margin-left: 20px
}

.game-view-container .game-close {
    display: inline-block;
    align-items: center;
    justify-content: center;
    font-size: 100%;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    opacity: 0.5;
}

.game-view-container .game-close:hover,
.game-view-container .game-close:active {
    text-decoration: none
}

.game-view-container .game-fullscreen {
    display: inline-block;
    font-size: 120%;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    color: #fff
}

.game-view-container .game-fullscreen:hover,
.game-view-container .game-fullscreen:active {
    text-decoration: none
}

.game-view-container .game-fullscreen img {
    margin-top: -3px;
    opacity: 0.5;
}

.game-view-container iframe.game {
    background: #000;
    width: 1px;
    height: 100%;
    min-width: 100%;
    padding: 0;
    margin: 0
}

.game-view-container iframe.game body {
    margin: 0;
    padding: 0
}

.loader-container.desktop {
    height: 70vh
}

.iframe-loader {
    top: 40px;
    left: 0;
    position: absolute;
    width: 100%;
    height: calc(100% - 40px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff
}

.iframe-loader img {
    width: 100px;
    margin-top: -10%
}

.casino-game-background {
    background-size: cover;
    background-position: center;
    position: absolute;
    inset: 0;
    margin-top: -70px;
    filter: brightness(.5);
    z-index: 0
}

.game-window-iframe-wrapper {
    height: 90vh;
}

.game-window-header-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.game-window-header-item img {
    cursor: pointer;
}

.button-support {
    display: inline-flex;
    height: 30px;
    background: linear-gradient(40deg,#052c31,#00bcd4)!important;
    text-transform: uppercase;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    min-width: 30px;
    border: none;
    cursor: pointer;
    color: #f2008d;
    border-radius: 5px;
    padding: 0px;
    margin-right: 10px;
}

.button-support>img {
    width: 28px;
}

.apigames-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    margin: 0 auto;
    background: rgb(46 39 0 / 85%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9991;
    font-family: "principal", Arial, sans-serif;
    color: #FFF;
    font-size: 13px;
}

.apigames-popup-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.apigames-popup .apigames-popup-content {
    margin: 0 auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #020711;
    max-height: calc(100vh - 32px);
    height: auto;
    max-width: 550px;
    min-width: 550px;
    min-height: 180px;
    border-radius: 20px;
    overflow: auto;
    z-index: 1;
    opacity: 0;
    transition: 0.3s;
    box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 50%);
}

@media (max-width: 560px) {
    .apigames-popup .apigames-popup-content {
        max-width: calc(100% - 20px);
        max-height: calc(100% - 20px);
        min-width: calc(100% - 20px);
        width: 100%;
        max-height: -webkit-fill-available;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.apigames-popup .apigames-popup-content-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 40px;
}

.apigames-popup .apigames-popup-content-header .close {
    width: 30px;
    position: absolute;
    margin: 0;
    padding: 0;
    right: 15px;
    top: 15px;
    color: #ffffff;
    cursor: pointer;
}

.apigames-popup .apigames-popup-content-header .close>svg {
    fill: currentcolor;
    color: white;
}

.apigames-pl20 {
    padding-left: 20px;
}

.apigames-pr20 {
    padding-right: 20px;
}
.apigames-pb20 {
    padding-bottom: 20px;
}

.gradient-title {
    font-size: 13px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    flex-direction: row;
    min-width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
    font-weight: 700;
    display: flex;
}

.gradient-title-lateral {
    align-items: center;
    width: 100%;
    display: flex;
    margin: 7px;
}

.gradient-title-left>div {
    background: linear-gradient(270deg, rgb(255, 255, 255), rgba(0, 0, 0, 0) 80%);
}

.gradient-title-right>div {
    background: linear-gradient(90deg, rgb(255, 255, 255), rgba(0, 0, 0, 0) 80%);
}

.gradient-title-lateral>div {
    width: 100%;
    height: 5px;
}

.gradient-title-no-wrap {
    text-wrap: nowrap;
}

.modal-content-support-network {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
}

.modal-content-support-network>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.btn-copy {
    padding-block: 1px;
    padding-inline: 6px;
    display: inline-flex;
    height: 30px;
    background: linear-gradient(0deg, rgb(152, 152, 152), white);
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 700;
    border: none;
    cursor: pointer;
    color: black;
    border-radius: 5px;
}

.modal-content-support-network img {
    width: 20px;
    margin-right: 10px;
}

.btn-support-close {
    text-transform: uppercase;
    cursor: pointer;
    min-width: 100px;
    height: 30px;
    background: linear-gradient(40deg,#052c31,#00bcd4)!important;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    display: inline-flex;
    border-radius: 5px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    text-decoration: none;
    color: #fff;
}

.full-width {
    width: 100%;
}

.margin-top-3em {
    margin-top: 3rem;
}

.alert#success-alert {
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    max-width: 80vw;
    width: 80vw;
    font-size: 12px;
    font-family: "principal", Arial, sans-serif;
}

.alert-success {
    color: #1d4e10;
    background-color: #c3ffd8;
    border-color: #46be39;
}

#success-alert, #error-alert {
    display: none;
    z-index: 9999;
    right: 0;
    margin: 60px 0 0;
    border-radius: .4rem !important;
    position: fixed;
    top: 30px;
    left: 10vw;
}

@media (max-width: 768px) {
    #success-alert, #error-alert {
        margin: 0;
    }
}

.btn-close {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: transparent;
    outline: none;
    border: none;
    color: #fff;
}

.form-control {
    background-color: #262626;
    border: none;
    color: #fff;
    border-radius: 6px;
    padding: 10px 20px;
    line-height: .75em;
    margin-bottom: 20px;
    font-size: 1em;
}

.form-control:focus {
    border: none;
    background-color: #262626;
}


.game-iframe-view_gameIframeWrapper {
    width: 100%;
    height: 100%;
    position: relative;
    max-width: 1500px;
    margin: 0 auto
}

@media(max-width: 992px) {
    .game-iframe-view_gameIframeWrapper {
        background-color: #000217;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100000
    }
}

.game-iframe-view_gameIframeWrapper.game-iframe-view_default {
    aspect-ratio: 1125/635;
    max-width: 1125px
}

@media(max-width: 992px) {
    .game-iframe-view_gameIframeWrapper.game-iframe-view_default {
        aspect-ratio: inherit;
        max-width: inherit
    }
}

.game-iframe-view_gameIframeWrapper.game-iframe-view_tvbet {
    max-width: 1500px;
    aspect-ratio: 1500/847
}

@media(max-width: 992px) {
    .game-iframe-view_gameIframeWrapper.game-iframe-view_tvbet {
        max-width: inherit;
        aspect-ratio: inherit;
        height: 100% !important;
        min-height: 100% !important
    }
}

.game-iframe-view_gameIframeWrapper.game-iframe-view_sportbook {
    height: calc(100vh - 57px) !important;
    min-height: 100%;
    max-width: 100%;
    height: 100%
}

@media(max-width: 992px) {
    .game-iframe-view_gameIframeWrapper.game-iframe-view_sportbook {
        top: 53px;
        z-index: 999;
        height: 100% !important
    }

    .game-iframe-view_gameIframeWrapper.game-iframe-view_sportbook>.game-iframe-view_gameIframe {
        height: calc(100% - 53px)
    }
}

.game-iframe-view_gameIframe {
    width: 100%;
    height: 100%;
    z-index: 0
}

@media(max-width: 992px) {
    .game-iframe-view_gameIframe {
        min-height: auto !important
    }

    .game-iframe-view_gameIframe.game-iframe-view_sportbook {
        height: calc(100% - 50px)
    }
}

.p-paginator-bottom {
    margin-top: 20px;
    gap: 10px;
}

.p-paginator {
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-paginator .p-paginator-pages .p-paginator-page {
    border-radius: 8px;
    color: #fff;
    padding: 5px !important
}


.p-link {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.p-link:disabled {
    cursor: default
}

.p-link img {
    width: 20px;
    height: 20px;
}

.spin i{
    animation: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: spin;
    animation-timing-function: linear;
}

@keyframes spin {
    to {
        transform: rotate(1turn)
    }
}

.hot-slide img {
    height: 364px !important;
    object-fit: cover;
}

@media (max-width: 575px) {
    .hot-slide img {
        height: 180px !important;
    }
}

section .swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

section .swiper-container.blog-slider {
    padding: 0px 30px 0 30px; 
}

section .swiper-button-prev, section .swiper-container-rtl .swiper-button-next {
    left: 10px !important;
    right: auto;
}

section .swiper-button-next, section .swiper-container-rtl .swiper-button-prev {
    right: 10px !important;
    left: auto;
}

section .swiper-button-prev, section .swiper-button-next {
    position: absolute;
    top: 40% !important;
    width: var(--swiper-navigation-size);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
    z-index: 1000;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.casino section .swiper-button-prev, .casino section .swiper-button-next {
    top: 50% !important;
}

.swiper-pagination {
    text-align: center;
    transition: 300ms opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
}

.swiper-pagination-bullet {
    display: inline-block;
    background: #000;
    opacity: .2;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #EA1417;
    opacity: 1;
}

.load-more {
    padding: 8px 15px;
    margin: 10px;
    cursor: pointer;
    text-align: center;
    background-image: linear-gradient(#333, #111);
    border-radius: 6px;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border-right: none;
    color: #fff;
    border: none;
}

.load-more:hover {
    background-image: none;
    background-color: #767272;
}