.games-categories-link,
.category-title {
    color: #FFFFFF
}

.games-categories-link span,
.category-title span {
    color: red
}

.category-title {
    font-size: 1.2rem
}

#declaration_container {
    color: darkgray;
    font-size: .6rem !important
}

.fixed-sn main {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important
}

#loading {
    display: none
}

#current_container {
    display: none;
    height: calc(100vh - 52px);
    text-align: -webkit-center;
    padding-left: 0;
    padding-right: 0;
    overflow-y: auto
}

#current_container iframe {
    text-align: center;
    width: 100%;
    min-height: calc(100vh - 52px);
    border: 0
}

#current_container object {
    height: calc(100vh - 52px);
    width: calc(calc(100vh - 52px) * 1.33);
    border: 0
}

#current_container div:only-of-type {
    min-width: 99vw
}

.preloader-wrapper .spinner-green,
.preloader-wrapper .spinner-green-only {
    border-color: #45f1d1 !important
}

.footer-name {
    position: absolute;
    font-family: 'metropolisextra_light';
    font-size: 12px;
    font-weight: 100;
    text-transform: uppercase;
    right: 3px;
    left: 3px;
    bottom: 7px;
    padding: 0 9px;
    text-align: left;
    color: rgb(202, 202, 202);
    background: hsla(0, 0%, 9%, .7);
    display: block
}

.zoom:hover .footer-name {
    display: none;
    right: 3px;
    left: 3px
}

.cat-list {
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    overflow-x: scroll;
    background-color: #161a38;
    color: #ddd;
    font-family: 'metropolisextra_light';
    font-size: 13px
}

.cat-list::-webkit-scrollbar {
    width: 0;
    height: 0
}

.cat-list-item {
    padding-right: 14px;
    padding-left: 12px;
    padding-top: 14px;
    padding-bottom: 11px;
    border-right: 1px solid #666;
    white-space: nowrap;
    cursor: pointer
}

.cat-list-item.active {
    color: yellow
}

.cat-list-item-first {
    padding-left: 10px !important
}

.cat-list-item-last {
    padding-right: 12px !important;
    border-right: none
}

.cat-button-left,
.cat-button-right {
    padding-right: 12px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 4px;
    border-right: 1px solid #666;
    white-space: nowrap;
    cursor: pointer;
    position: absolute;
    background-color: #161a38
}

.cat-button-left {
    left: 0
}

.cat-button-right {
    right: 0;
    border-left: 1px solid #666
}

.title-action {
    font-size: .9rem !important
}

.text-action {
    font-weight: 400 !important;
    font-size: .8rem !important
}

.text-jackpot {
    font-size: 2.5rem;
    color: greenyellow;
    font-weight: bold
}

#ButtonRegister {
    visibility: hidden
}

.parallax {
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

:root {
    --swiper-theme-color: #ffffff
}

.swiper-container {
    width: 100%;
    height: 100%
}

.swiper-wrapper {
    width: 100%;
    height: 80%;
    padding: 30px 0
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: none;
    width: 80%;
    height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-transition: 250ms all;
    transition: 250ms all
}

.swiper-slide:hover {
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
    z-index: 1
}

.swiper-slide:nth-child(2n) {
    width: 50%
}

.swiper-slide:nth-child(3n) {
    width: 30%
}

#header-lobby {
    min-height: 600px
}

.header-lobby.lobby-private {
    background-image: url("");
    background-size: cover;
    background-repeat: no-repeat
}

#social_links {
    background-color: #6351ce
}

.header-lobby-bg,
.header-logo-game {
    display: none
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -50vw 0
    }

    100% {
        background-position: 50vw 0
    }
}

.animated-background {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background-size: 100vw;
    position: relative
}

@media screen and (max-width:640px) {

    .swiper-button-next,
    .swiper-button-prev {
        display: none !important
    }
}

@media (max-width:992px) {
    footer.page-footer {
        margin-bottom: 51px
    }
}

@media (min-width:360px) {
    .title-action {
        font-size: 1rem !important
    }
}

@media (min-width:576px) {
    #declaration_container {
        font-size: .8rem !important
    }

    .text-action {
        font-size: .9rem !important
    }

    #ButtonRegister {
        visibility: hidden
    }

    #carouselControls .carousel-inner {
        width: 100%;
        left: 0
    }
}

@media (min-width:768px) {
    #declaration_container {
        font-size: 1rem !important
    }

    .text-action {
        font-size: .8rem !important
    }

    #ButtonRegister {
        visibility: hidden
    }
}

@media (min-width:992px) {
    .fixed-sn main {
        padding-top: 0 !important
    }

    .poker-lobby,
    .casino-lobby,
    .livecasino-lobby,
    .sports-lobby,
    .double-lobby {
        margin-top: 3rem
    }

    .cat-list-item {
        padding-right: 12px;
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 4px
    }

    .cat-list-item-first {
        padding-left: 46px !important
    }

    .cat-list-item-last {
        padding-right: 46px !important
    }

    #carouselControls {
        margin-top: 0
    }

    .category-title {
        font-size: 1.5rem
    }

    .title-action {
        font-weight: 600 !important;
        font-size: 1.5rem !important
    }

    .text-action {
        font-size: 1rem !important
    }

    #ButtonRegister {
        visibility: visible
    }
}